.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  width: 1000px;
  margin: 0 auto;
}

.name {
  font-size: 50px;
  font-weight: 1000;
  color: #636b6a;
  margin-bottom: 10px;
  font-family: 'Times New Roman', Times, serif;
}
.col-md-3{
    width: 35%;
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #636b6a;
  width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
}

.Sign-Up-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 200px 0px;
  padding: 25px 0px 25px;
  background-color: whitesmoke;
  border-radius: 10px;

}

.signup {
  color: black;
}

.Date-of-Birth {
  display: flex;
  width: 100%;
}

.back-btn{
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;  
}

/* .log-btn{
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;  
} */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 5px;
  margin: 100px 200px;
  text-align: center;
}

.name-form {
  display: flex;
  justify-content: flex-start;
}

.Note-Title {
  display: inline-flex;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 5px;
  margin-top: 20px;
}


.form-control {
  background-color: #F5F5F5;
}

.dob-item{
    width: auto;
    max-width: 100px;
}
.month-select{
    max-width: 150px;
}

.List-Layout{
  color: #636b6a;
  font-size: 20px;
  margin: 20px 20px; 
}

.Create-Note{
  display: flex;
  justify-content: left;
  align-items: left;
  margin: 20px 20px; 
}